TRAINER_EMAIL=no.id.lol77@gmail.com

RESEND_API_KEY=re_NEW_KEY_HERE
RESEND_FROM_EMAIL=onboarding@resend.dev

NEXT_PUBLIC_PAYPAL_BENCH_PRESS_LINK=https://www.paypal.com/ncp/payment/7L32TD4V3J8R8
NEXT_PUBLIC_PAYPAL_STRICT_CURL_LINK=https://www.paypal.com/ncp/payment/WB348A33HTY9L
NEXT_PUBLIC_PAYPAL_CHEAT_CURL_LINK=https://www.paypal.com/ncp/payment/2ACFFW3GS5SM2
NEXT_PUBLIC_PAYPAL_PERSONALIZED_LINK=https://www.paypal.com/ncp/payment/CY7ASMHS877H8

NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_CONTACT_EMAIL=no.id.lol77@gmail.com